[Unit]
Description=BerryShare service
After=network.target
Requires=stund.service

[Service]
ExecStart=/usr/bin/berry-share
Restart=always

[Install]
WantedBy=multi-user.target

